[package]
name = "nix-sweep"
version = "0.1.2"
edition = "2021"
description = "Utility to clean up old Nix profile generations"
license = "MIT"

[dependencies]
clap = { version = "4.5.20", features = ["derive"] }
colored = "3.0.0"
